<div>
    <app-navbar></app-navbar>
</div>


<div class="container" style="margin-top:30px">

    <div class="row">
        <div class="col-md-10">
            <div class="dropdown border-bottom">
                <div class="row">
                    <div class="col-sm-9">
                        <h5 class="dropdown-toggle col-sm-4" style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </h5>
                        <p class="" style="margin-top: 0;">Bali Indonesia</p>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="colm-sm-3 nav-link row">
                        <button type="button" class="btn btn-sm btn-primary" style="margin: 5px 5px;">Import /
                            Export</button>
                        <button type="button" class="btn btn-sm " style="margin: 5px 5px;">Setting</button>
                    </div>
                </div>
            </div>

            <div class=" border-bottom">
                <div class="row" style="margin: 10px 0px; ">
                    <div class="col-md-3" style="padding-left: 0px;">
                        <a href="">Farm Overview</a>
                    </div>
                    <div class="col-md-2">
                        <a href="">Member</a>
                    </div>
                    <div class="col-md-2">
                        <a href="">Warehouse</a>
                    </div>
                </div>
            </div>

            <div class="row container col-sm-12" style="margin: 15px 0; padding: 0;">
                <div class="card col-sm-4">
                    <p class="dropdown-toggle " style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </p>
                    <p class="" style="margin-top: 0;">Bali Indonesia</p>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <p class="dropdown-toggle " style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </p>
                    <p class="" style="margin-top: 0;">Bali Indonesia</p>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <p class="dropdown-toggle" style="padding-left: 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </p>
                    <p class="" style="margin-top: 0;">Bali Indonesia</p>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>

            <div class="card card-sampling-data col-sm-12">
                <div class="row">
                    <p class="text-info">Shirmp Data</p>
                    <p class="text-info">14.30, Dec 19, 2019</p>
                </div>

                <div class="row text-sampling col-sm-12">
                    <div class="col-sm">
                        <p>Doc</p>
                        <p>10</p>
                    </div>
                    <div class="col-sm">
                        <p>Desteny</p>
                        <p>200</p>
                    </div>
                    <div class="col-sm">
                        <p>Size</p>
                        <p>107.14</p>
                    </div>
                    <div class="col-sm">
                        <p>Last ADG</p>
                        <p>0.32 g</p>
                    </div>
                    <div class="col-sm">
                        <p>MBW</p>
                        <p>9.33 g</p>
                    </div>
                    <div class="col-sm">
                        <p>Shrimp Pop.</p>
                        <p>21.000</p>
                    </div>
                    <div class="col-sm">
                        <p>Total Biomass</p>
                        <p>12.0000 kg</p>
                    </div>
                    <div class="col-sm">
                        <p>Death Count</p>
                        <p>2300</p>
                    </div>
                </div>
            </div>

            <!-- stock and harvest data -->

            <div class="col-md-12 ">
                <div class="row ">
                    <div class="card card-stock-data col-md-4">
                        <div class="row">
                            <div>
                                <p class=" text-info">Stock Data</p>
                            </div>
                            <!-- <div style="float: right;">
                                <a type="button" class="btn btn-sm btn-light" style=" height: 28px;">...</a>
                            </div> -->
                        </div>
                        <div class="row col-sm-12" style="font-size: 9pt !important;">
                            <div class="col-sm" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth">Stock Date</p>
                                    <p class="text-info-stock">12 Des 2019</p>
                                </div>
                                <div>
                                    <p class="text-ligth">Cost</p>
                                    <p class="text-info-stock">143.000.000</p>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div>
                                    <p class="text-ligth">Stock Count</p>
                                    <p class="text-info-stock">30.000</p>
                                </div>
                                <div>
                                    <p class="text-ligth">Stock Source</p>
                                    <p class="text-info-stock">STP Indramayu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="card card-harvest-data col-md-7">
                        <div class="row">
                            <div>
                                <p class=" text-info" style="color: black !important;">Stock Data</p>
                            </div>
                            <!-- <div style="float: right;">
                                <a type="button" class="btn btn-sm btn-light" style=" height: 28px;">...</a>
                            </div> -->
                        </div>
                        <div class="row col-md-12">
                            <div class="col-sm-3" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth-black">Stock Date</p>
                                    <p class="text-info-harvest">12 Des 2019</p>
                                </div>
                                <div>
                                    <p class="text-ligth-black">Cost</p>
                                    <p class="text-info-harvest">143.000.000</p>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth-black">Size</p>
                                    <p class="text-info-harvest">109.12</p>
                                </div>
                                <div>
                                    <p class="text-ligth-black">Defective</p>
                                    <p class="text-info-harvest">32.18 kg</p>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth-black">MBW</p>
                                    <p class="text-info-harvest">30.000</p>
                                </div>
                                <div>
                                    <p class="text-ligth-black">Hollow</p>
                                    <p class="text-info-harvest">32.18 kg</p>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth-black">Fresh</p>
                                    <p class="text-info-harvest">30.000 kg</p>
                                </div>
                                <div>
                                    <p class="text-ligth-black">Others</p>
                                    <p class="text-info-harvest">32.18 kg</p>
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding-left: 0px;">
                                <div>
                                    <p class="text-ligth-black">Undersize</p>
                                    <p class="text-info-harvest">230 kg</p>
                                </div>
                                <div>
                                    <p class="text-ligth-black">Cost</p>
                                    <p class="text-info-harvest">10.000.000.000</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-sampling-table border-bottom">
                <div class="col-sm-12" style="margin: 10px 0px; padding-left: 0px ;text-align: left;">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">Sampling</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">Shrimp Disease</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">Death Count</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border rounded">
                <div class="border-bottom col-sm-12">
                    <ul class="pagination justify-content-left" style="padding: 15px; margin: 0;">
                        <li class="page-item  disabled">
                            <a class="page-link rounded" href="#" tabindex="-1">Sampling</a>
                        </li>
                        <li class="page-item"><a class="page-link rounded" href="">1</a></li>
                        <li class="page-item"><a class="page-link rounded" href="">2</a></li>
                        <li class="page-item"><a class="page-link rounded" href="">3</a></li>
                    </ul>
                </div>
                <div class=" col-sm-12">
                    <div class="row">
                        <div class="border-right  col-sm-2">
                            <p class="text-ligth-black" style="font-size: 10pt;">Date</p>
                            <p class="text-info-harvest" style="font-size: 11pt;">23 Apr 2019</p>
                        </div>
                        <div class=" rounded col-sm-10">
                            <div class="row col-sm-12 border-bottom" style="margin: 0;">
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Doc</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">12</p>
                                </div>
                                <div class="col-sm-3" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Weight Sampled</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">30.000 kg</p>
                                </div>
                                <div class="col-sm-3" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Shrimps Sampled</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">12.0000</p>
                                </div>
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Size</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">30</p>
                                </div>
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">SR</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">110</p>
                                </div>
                            </div>

                            <div class="row col-sm-12" style="margin: 0;">
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Density</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">125</p>
                                </div>
                                <div class="col-sm-3" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">MBW</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">123 g</p>
                                </div>
                                <div class="col-sm-3" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">Biomas</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">23 Apr 2019</p>
                                </div>
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">ADG</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">412 g</p>
                                </div>
                                <div class="col-sm" style="padding-left: 0px;">
                                    <p class="text-ligth-black" style="font-size: 10pt;">FCR</p>
                                    <p class="text-info-harvest" style="font-size: 11pt;">321</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 400px;"></div>
        </div>

        <div class="col-md-2 border-left">
            <div class="list-group" style="font-size: 10pt;">
                <a href="#" class="list-group-item list-group-item-action ">Use Item</a>
                <a href="#" class="list-group-item list-group-item-action">Water Quality</a>
                <a href="#" class="list-group-item list-group-item-action">Sampling</a>
                <a href="#" class="list-group-item list-group-item-action">Feed Tray</a>
                <a href="#" class="list-group-item list-group-item-action">Add Item</a>
                <a href="#" class="list-group-item list-group-item-action">Stock Harvest</a>
                <a href="#" class="list-group-item list-group-item-action">Notes</a>
                <a href="#" class="list-group-item list-group-item-action">Shrimp Deaseas</a>
                <a href="#" class="list-group-item list-group-item-action">Death Count</a>
            </div>
        </div>
    </div>
</div>