a {
    color: black;
}

.card-overview {
    padding: 0px;
}

.card-sampling-data {
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(104deg, #ff8080 22%, #ff8800 120%);
}

.card-stock-data {
    padding-right: 25px;
    border-radius: 8px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(120deg, #45be7d 12%, #38ac3d 97%);
}

.card-shrimp-data {
    background-color: #fff;
    background-repeat: repeat;
    border-radius: 10px;
    padding-right: 10px;
}

.card-harvest-data {
    border-radius: 8px;
    background-color: #d8f3e5;
}

.text-info {
    margin: 10px 15px;
    color: #ffffff !important;
}

.text-sampling {
    font-size: 10px;
    line-height: 1.33;
    letter-spacing: 0.27px;
    text-align: left;
    color: #ffffff;
}

.text-info-stock {
    margin: 0px;
    margin-bottom: 20px;
    color: #ffffff !important;
}

.text-info-harvest {
    font-size: 8pt;
    margin: 0px;
    margin-bottom: 20px;
    color: black;
}

.page-link {
    margin-right: 8px;
}

.text-ligth {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 10pt;
    opacity: 0.75;
    color: #ffffff;
}

.text-ligth-black {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 8pt;
    opacity: 0.5;
    color: black;
}

.card-sampling-table {
    margin: 20px 0;
}